src/main/resources/xml_db/xsd/lawyer.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="lawyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lawyer" type="lawyerType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="lawyerType">
    <xs:sequence>
      <xs:element name="lawyerId" type="xs:int"/>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
      <xs:element name="officeRoomNumber" type="xs:int"/>
      <xs:element name="passportId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>