src/main/resources/xml_db/xsd/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="payments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="payment" type="paymentType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:complexType name="paymentType">
    <xs:sequence>
      <xs:element name="paymentId" type="xs:int"/>
      <xs:element name="dateOfPayment" type="xs:date"/>
      <xs:element name="clientId" type="xs:int"/>
      <xs:element name="lawyerId" type="xs:int"/>
      <xs:element name="lawyerAmount" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>